@model Planets.ViewModels.EditPlanetViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Planet</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" for="Id" />
            <div class="form-group my-2">
                <label for="Name" class="form-label"></label>
                <input name="Name" class="form-control" value="@Model.Planet.Name" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <hr />

        <h4>Remove Planet Properties</h4>
        <ul class="list-group">
            @foreach (var propertyValue in Model.Planet.PropertyValues)
            {
                <li class="list-group-item">
                    <form asp-action="DeleteProperty" asp-route-id="@Model.Planet.Id">
                        <input type="hidden" name="propertyValueId" value="@propertyValue.Id" />
                        <div><b>@propertyValue.PlanetProperty.Name:</b> @propertyValue.Value</div>
                        <input type="submit" value="Delete" class="btn btn-danger my-2" />
                    </form>
                </li>
            }
        </ul>

        <hr />

        <h4>Add New Property</h4>
        <div>
            <form asp-action="AddProperty" asp-route-id="@Model.Planet.Id" method="post">
                <div class="form-group">
                    <select name="propertyValueId" class="form-select my-2">
                        @foreach (var property in Model.PropertyValuesToAdd)
                        {
                            <option value="@property.Id">
                                @property.PlanetProperty.Name: @property.Value
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Property" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
