@model Planets.ViewModels.PlanetListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Planets</h1>

<div>
    <div>
        <button class="btn btn-light m-2" type="button" data-bs-toggle="collapse" data-bs-target="#filtersArea" aria-expanded="false" aria-controls="filtersArea">
            Toggle Filters
        </button>
    </div>
    <div class="collapse show" id="filtersArea">
        <div class="card card-body">

            <form method="get" asp-action="Index" class="col-md-6">

                @foreach (var property in Model.AllPlanetProperties)
                {
                    <label for="@property.Id" class="form-label">@Html.DisplayFor(m => property.Name)</label>
                    <select name="@property.Name" class="form-select mb-2" id="@property.Id">
                        <option value="">-- Select Value --</option>
                        @foreach (var propertyValue in property.PossibleValues)
                        {
                            var isSelected = Model.SelectedPropertyValueIds.Contains(propertyValue.Id);

                            @if (isSelected)
                            {
                                <option value="@propertyValue.Id" selected>@propertyValue.Value</option>
                            }
                            else
                            {
                                <option value="@propertyValue.Id">@propertyValue.Value</option>
                            }
                        }
                    </select>
                }

                <input type="submit" class="btn btn-primary m-2" value="Filter" />
                <a class="btn btn-light" asp-action="Index" role="button">Clear</a>
            </form>
        </div>
    </div>
</div>

<hr />

<h4 class="my-2">Results</h4>
<table class="table">
    <tbody>
        @foreach (var item in Model.Planets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }

        @if (!Model.Planets.Any())
        {
            <tr><td>No results.</td></tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New Planet</a>
</p>
